.container {
  display: flex;
  align-items: flex-start
}
header {
  text-align:center;
}
img {
  max-width:25%
}
.wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
}